<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplicación Flask</title>
</head>
<body>
    <h1>Uso de API de ChatGPT con Flask y jinja2</h1>
    <form action="/" method="POST">
        <hr>
    <textarea name="chat" disabled rows="10" cols="120">

         {% for mensaje in historial %}
         {{ mensaje.contenido }}

        {% endfor %}
    </textarea>
        <p>
            ¿Qué se te ofrece?
            <input type="text" name="pregunta" value="{{ pregunta }}" size="100" required>
            <button type="submit">Enviar</button>
        </p>
    </form>
</body>
</html>